*{
    box-sizing: border-box;

}
html{
    /* a cada 1rem será considerada 10px */
    font-size: 62.5%;
}

body{
    margin: 0%;
}
.cabecalho{
    background-color: w;
    display: flex;
    flex-direction: row;
   align-items: center;
   height: 8vh;
   justify-content: space-between;
  
}
.logo{
    height: 7vh;
    width: auto;
    padding: 1.5vh 1.5vw 1.5vh 2vw;
    flex-direction: row;
    align-items: center;
}
.menu{
    display: flex;
    flex-direction: row;
    
}
.menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 8vh;
    
}
.menu ul li{
    padding: 0vh 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    
    
}
.login {
        display: flex;
        flex-direction: row;
        list-style: none;
        
       
}
.login li{
    padding: 0vh 1.5vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.cabecalho a{
    text-decoration: none;
    color: black;
    font-size: 2.2rem;
    font-family: 'Passion One', cursive;
    text-transform: uppercase;
}

#comprar:hover , #carrinho:hover{
background-color: black;
}
.menu ul :hover ,.login :hover{
    background-color:#d51920 ; 
    color: white;  
}
.imgheader{
    width: 100%;
    height: auto;
}
.text1 h1{
    font-family: 'Passion One', cursive;
    text-transform: uppercase;
    font-size: 8rem;
    text-align: center;
    margin: 100px;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2vh;
}
.card-1{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center
}
.button{
    display: flex;
    flex-direction: column;
    
}
.button #comprar{
    background-color: #d51920;
    color: white;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    width: 100%;
    height: 4vh;
    border: none;
    margin-bottom: 10px;
    
}

.button #carrinho{
    background-color: gray;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    width: 100%;
    height: 4vh;
    border: none;
    margin-bottom: 10px;
    
}
.button #comprar:hover ,.button #carrinho:hover{
    background-color: black;
}
.footer{
    background-color: rgb(24, 23, 23);
    color: white;
    padding-bottom: 5vh;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.footer h1 {
    padding-top: 5vh;
    font-size: 8rem;
    text-align: center;
    margin: 0px;
}
.footer ul {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    list-style: none;
   align-items: center;
   
   margin: 0px; 
}
.footer ul li{
    margin-bottom: 2vh;
}
.footer a{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    
}
.footer a:hover{
    color:#d51920 ;
}
@media  (max-width:1245px) {
    html{
        font-size: 50%;
    }
    body{
        display: grid;
    }
    .card-1 , .card-1 img , .card-1 , .button ,p {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 145.94px;
    }
    .card{
        
        display: flex;
        flex-direction: row;
        
        
    }
    
}
@media (max-width:903px)  {
    html{
        font-size: 40%;
    }
    body{
        display: grid;
    }
    .card-1 , .card-1 img , .card-1 , .button ,p {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 145.94px;
    }
    .card{
        
        display: flex;
        flex-direction: row;
        
        
    }
    
}
@media (max-width:769px)  {
    html{
        font-size: 30%;
    }
    body{
        display: grid;
    }
    .card-1 , .card-1 img , .card-1 , .button ,p {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 145.94px;
    }
    .card{
        
        display: flex;
        flex-direction: row;
        
        
    }
    
}
@media (max-width:650px)  {
    html{
        font-size: 40%;
    }
    .menu , aside {display: none;}
    .one,
    .two,
    .three {
        background-color: #d51920;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

    /* fullscreen */
    .menu-section.on {
        position: absolute;
        top:0;
        left:0;
        
        width: 100vw;
        height: 100vh;

        background-color: rgb(37, 36, 36);
        
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on nav {
        display: block;
       position: absolute;
       top: 200px;
       left: 5px;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 25px;
        top: 15px;
    }

    

    .menu-section.on nav ul {
        display: block;
        text-align: center;
        
    }
    .menu-section.on nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
   
    .menu-section.on nav ul a{
        transition-duration: 0.5s;
        font-size: 8rem;
        display: block;
        color: white;
        
    }

    body{
        display: grid;
    }
    .card{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-1 , .card-1 img , .card-1 , p {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
    .button{
        width: 70%;
    }

   
    
}